/*
основной цвет текста #212121
вторичный цвет текста #57575
цвет акцента  #2196f3
вторичный цвет акцента #ffffff
цвет фона неактивніх кнопок  #f5f4fa
цвет контактов  rgba(255, 255, 255, 0.6);
*/

:root {
  --primary-background-color: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --wite-color: #ffffff;
  --buttons-color: #f5f4fa;
  --contacts-rgba: rgba(255, 255, 255, 0.6);
}
body {
  font-family: Roboto;
  font-style: normal;
  color: var(--primary-text-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-end {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}
.logo-end-footer {
  color: var(--wite-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-link {
  text-decoration: none;
  /*position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;*/
}
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: var(--primary-background-color);
}
h1 {
  width: 696px;
  height: 120px;
  padding-top: 200px;
  margin-left: 452px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--wite-color);
}

.link-button {
  margin-left: 700px;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 32px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
}

.order-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--wite-color);
}

ul {
  list-style-type: none;
}

.navigation {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color) 1;
}
.navigation.contacts {
  color: var(--secondary-text-color);
}
.navigation:hover,
.navigation:focus {
  color: var(--accent-color);
}

.button {
  background: var(--buttons-color);
  border-radius: 4px;
  border: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.button:hover,
.button:focus,
.button:active,
.button:visited {
  background: var(--accent-color);
}

.cards-items {
  color: var(--secondary-text-color);
}

.footer-bg {
  width: 1600px;
  height: 252px;
  left: 0px;
  background: var(--primary-background-color);
}

.footer-adress {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--wite-color);
}
.footer-adress-text {
  padding-top: 60px;
  padding-left: 215px;
}

.footer-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--contacts-rgba);
}
